        body
        {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0;
            margin-bottom: 0;
        }
.text, td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
