body
{
    margin-top: 0px; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
h1
{
    color: #039;
}
a.noDecor
{
    text-decoration: none;
    color: black;
}
table.noShow
{
    visibility: hidden;
    position: absolute;
}

.dropmenu
{
    width: 132px;
    border-width: 2px;
    border-style: solid;
    border-color: #7F7F7F;
    background-color: #000000;
}
.dropmenu ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.dropmenu li
{
    display: inline;
}
.dropmenu a, .dropmenu a:visited, .dropmenu a:active
{
    display: block;
    width: 130px;
    padding: 2px;
    margin: 1px;
    font-family: Monospace;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #990000;
}
